html,
body {
  height: 100% !important;

  #root {
    height: inherit !important;

    .App {
      height: inherit !important;
      #background {
        width: 100%;
        height: inherit !important;

        .mainContainer {
          height: 100%;
          .helloContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            height: 100%;
            .greetings {
              display: inline-grid;
              flex-direction: column;
              width: 40%;
              .logo {
                width: 100%;
                padding: 0.5em 0em;
                height: 172px;
                position: static;
              }
              .message {
                width: 100%;
                font-size: 24px;
                font-family: fantasy;
                padding: 1em;
              }
              .icons {
                width: 100%;
                padding: 0em 1em;
                list-style-type: none;
                .icon {
                  border-radius: 100%;
                  color: grey; // IE8
                  fill: grey;
                  &:hover {
                    background: white;
                    color: teal; // IE8
                    fill: teal;
                  }
                }
                
              }
            }
            .imageSelf {
              width: 30%;
              #myPicture {
                width: 385px;
                height: 420px;
                margin-top: 4.2em;
              }
            }
            .otherDetails {
              display: inline-grid;
              flex-direction: column;
              width: 30%;
              .bigNameLogo {
                width: 100%;
              }
              .title {
                width: 100%;
                #wanjiku {
                    position:absolute;
                    bottom: 4.5em;
                    width: 29%;
                  height: 100px;
                }
                #mbugua {
                    position:absolute;
                  width: 235px;
                  height: 60px;
                  bottom: 0.5em;
                }
              }
            }
          }
        }
      }
    }
  }
}

// .intro {
//   //   background-image: url("../img/screen.jpg");
//   //   height: 520px !important;
//   // margin: 5em 0 10em 0 !important;
// }

// .intro-card {
//   widows: 250px !important;
// }

// .projects {
//   margin: 0 0 10em 0 !important;
//   height: 520px !important;
// }

// .contact {
//   margin: 0 0 10em 0 !important;
//   height: 520px !important;
//   background-color: black;
// }
