
.project-card{
display: flex;
}

.card.small .card-image {
    max-height: 84% !important;
    max-width:40% !important;
    overflow:hidden !important;
}
.card.small .card-image+.card-content{
    max-height: 84% !important;
    background-color: mintcream;
}